#root {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#wrapper {
  width: 375px;
  height: 100%;
  max-height: 660px;
  display: flex;
  flex-flow: row nowrap;
}

.area {
  margin: auto;
  width: 264px;
  height: 550px;
  background-color: #eee;
  border: 2px solid #aaa;
}

.linie {
  height: 22px;
}

.empty, .active, .blocked {
  display: inline-block;
  border: 1px solid #ddd;
  height: 20px;
  width: 20px;
}

.active, .blocked {
  background-color: #ccc;
}

#lostMessage {
  margin: 200px 20px;
  display: none;
  max-width: 50%;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(117, 112, 112);
  padding: 12px;
  opacity: .7;
  position: absolute;
 }
 #lostMessage button {
   display: block;
   margin: 20px auto 0;
 }
 #info {
  flex-grow: 1;
  margin-top: 50px;
   /* display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   border: 2px solid #aaa;
   border-bottom: none;
   position: relative; */
 }
 #level, #streak, #startButton {
   margin: 10px;
   display: block;
 }
 #startButton {
  height: 30px;
  width: 70%;
  margin-top: 30px;
  user-select: none;
}
.displayBlockButton {
  display: block;
}

#controls {
  margin-top: 100px;
}

#controls button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: large;
  margin: 0 auto;
  user-select: none;
  cursor: pointer;
}

#rightArrowButton {
  float: right;
}
 
 /* #level {
   position: absolute;
   top: 0;
   right: 10px;
 }

 #streak {
  position: absolute;
  top: 0;
  left: 10px;
}
#startButton {
  height: 30px;
  margin: 5px 0;
} */