#root {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.area {
  width: 300px;
  height: 625px;
  background-color: #eee;
  border: 2px solid #aaa;
}

.linie {
  height: 25px;
}

.empty, .active, .blocked {
  display: inline-block;
  border: 1px solid #ddd;
  height: 23px;
  width: 23px;
}

.active, .blocked {
  background-color: #ccc;
}

#lostMessage {
  display: none;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(117, 112, 112);
  padding: 30px;
  opacity: .7;
  position: absolute;
 }
 #lostMessage button {
   display: block;
   margin: 20px auto 0;
 }
 #info {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   width: 300px;
   border: 2px solid #aaa;
   border-bottom: none;
   position: relative;
 }
 #level {
   position: absolute;
   top: 0;
   right: 10px;
 }

 #streak {
  position: absolute;
  top: 0;
  left: 10px;
}
#startButton {
  height: 30px;
  margin: 5px 0;
}